<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="AmazeUI-2.4.2/assets/css/amazeui.min.css"/>
    <link href="css/dlstyle.css" rel="stylesheet" type="text/css">
    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

</head>

<body>

<div class="login-boxtitle">
    <a href="http://localhost:7768/toLogin"><img alt="" src="images/logobig.png"/></a>
</div>

<div class="res-banner">
    <div class="res-main">
        <div class="login-banner-bg"><span></span><img src="images/big.jpg"/></div>
        <div class="login-box">
            <div class="am-tabs" id="doc-my-tabs">
                <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                    <li class="am-active"><a href="">邮箱注册</a></li>
                    <li><a href="">手机号注册</a></li>
                </ul>

                <div class="am-tabs-bd">
                    <div class="am-tab-panel am-active">
                        <form>
                            <div class="user-email">
                                <label for="email"><i class="am-icon-envelope-o"></i></label>
                                <input type="email" id="email" placeholder="请输入邮箱账号">
                            </div>
                            <div class="user-pass">
                                <label for="password-email"><i class="am-icon-lock"></i></label>
                                <input type="password" id="password-email" placeholder="设置密码">
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat-email"><i class="am-icon-lock"></i></label>
                                <input type="password" name="" id="passwordRepeat-email" placeholder="确认密码">
                            </div>

                        </form>

                        <div class="login-links">
                            <label for="reader-me-email">
                                <input id="reader-me-email" type="checkbox"> 我同意商城《<a
                                    href="https://in.m.jd.com/help/app/register_info.html">服务协议</a>》
                            </label>
                        </div>
                        <div class="am-cf">
                            <input type="button" value="注册" id="register-email" onclick="register_email()"
                                   class="am-btn am-btn-primary am-btn-sm am-fl">
                        </div>

                    </div>

                    <div class="am-tab-panel">
                        <form method="post">
                            <div class="user-phone">
                                <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
                                <input type="tel" name="" id="phone" placeholder="请输入手机号">
                            </div>
                            <div class="verification">
                                <label for="code"><i class="am-icon-code-fork"></i></label>
                                <input type="tel" name="" id="code" placeholder="请输入验证码">
                                <a class="btn">
                                    <span id="dyMobileButton">获取</span>
                                </a>
                            </div>
                            <div class="user-pass">
                                <label for="password-tel"><i class="am-icon-lock"></i></label>
                                <input type="password" id="password-tel" placeholder="设置密码">
                            </div>
                            <div class="user-pass">
                                <label for="passwordRepeat-tel"><i class="am-icon-lock"></i></label>
                                <input type="password" id="passwordRepeat-tel" placeholder="确认密码">
                            </div>
                        </form>
                        <div class="login-links">
                            <label for="reader-me-tel">
                                <input id="reader-me-tel" type="checkbox"> 我同意商城《<a
                                    href="https://in.m.jd.com/help/app/register_info.html">服务协议</a>》
                            </label>
                        </div>
                        <div class="am-cf">
                            <input type="button" value="注册" id="register-tel" onclick="register_tel()"
                                   class="am-btn am-btn-primary am-btn-sm am-fl">
                        </div>
                        <hr>
                    </div>
                    <script>
                        $(function () {
                            $('#doc-my-tabs').tabs();
                        })
                    </script>

                    <script type="text/javascript">
                        function register_email() {
                            let addr = $("#email").val();
                            var pattern_email = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                            if (!pattern_email.test(addr)) {
                                alert("邮箱格式不正确！");
                                return;
                            }
                            var pattern_psd = /^\S{6,12}$/;
                            let password = $("#password-email").val();
                            if (!pattern_psd.test(password)) {
                                alert("密码必须为6-12位非空字符");
                                return;
                            }
                            if (password !== $("#passwordRepeat-email").val()) {
                                alert("密码不一致!请重设密码！");
                                return;
                            }
                            if (!$("#reader-me-email").is(":checked")) {
                                alert("您需要同意商城协议才能注册！");
                                return;
                            }
                            $.ajax({
                                url: "register/email",
                                type: "post",
                                data: {addr: addr, password: password},
                                dataType: "json",
                                beforeSend: function (xml) {
                                    let $register = $("#register-email");
                                    $register.val("注册中...");
                                    $register.attr("style", "background:gray");
                                    $register.attr("onclick", "");
                                },
                                success: function (data) {
                                    alert(data.message);
                                    if (data.errno === 0) {
                                        alert(data.message);
                                        window.location.href = "http://localhost:7768/toLogin";
                                    } else {
                                        window.location.reload();
                                    }
                                },
                                error: function () {
                                    alert("服务器开了小差！请稍后再试~");
                                    window.location.reload();
                                }
                            });
                        }

                        function register_tel() {
                            let phone = $("#phone").val();
                            var pattern_tel = /^1[3456789]\d{9}$/;
                            if (!pattern_tel.test(phone)) {
                                alert("手机号格式不正确！");
                                return;
                            }
                            var pattern_code = /^[0-9]{4}$/;
                            let code = $("#code").val();
                            if (!pattern_code.test(code)) {
                                alert("验证码错误！");
                                return;
                            }
                            var pattern_psd = /^\S{6,12}$/;
                            let password = $("#password-tel").val();
                            if (!pattern_psd.test(password)) {
                                alert("密码必须为6-12位非空字符");
                                return;
                            }
                            if (password !== $("#passwordRepeat-tel").val()) {
                                alert("密码不一致!请重设密码！");
                                return;
                            }
                            if (!$("#reader-me-tel").is(":checked")) {
                                alert("您需要同意商城协议才能注册！");
                                return;
                            }
                            $.ajax({
                                url: "register/msg",
                                type: "post",
                                data: {phone: phone, password: password, code: code},
                                dataType: "json",
                                beforeSend: function (xml) {
                                    let $register = $("#register-tel");
                                    $register.val("注册中...");
                                    $register.attr("style", "background:gray");
                                    $register.attr("onclick", "");
                                },
                                success: function (data) {
                                    alert(data.message);
                                    if (data.errno === 0) {
                                        window.location.href = "http://localhost:7768/toLogin";
                                    } else {
                                        window.location.reload();
                                    }
                                },
                                error: function () {
                                    alert("服务器开了小差！请稍后再试~");
                                    window.location.reload();
                                }
                            });
                        }

                        var send = document.getElementById("dyMobileButton");
                        send.addEventListener("click", make_code, false);
                        var interval;

                        function make_code() {
                            let phone = $("#phone").val();
                            var pattern_tel = /^1[3456789]\d{9}$/;
                            if (!pattern_tel.test(phone)) {
                                alert("手机号格式不正确！");
                                return;
                            }
                            send.removeEventListener("click", make_code, false);
                            var time = 60;
                            $(send).text(time);
                            interval = window.setInterval(function () {
                                time--;
                                $(send).text(time);
                                if (time === 0) {
                                    window.clearInterval(interval);
                                    $(send).text("获取");
                                    send.addEventListener("click", make_code, false);
                                }
                            }, 1000);
                            $.ajax({
                                url: "register/send/"+phone,
                                success:function (data) {
                                    console.log(data.errno);
                                },
                                error:function () {
                                    console.log("error");
                                }
                            });
                        }
                    </script>
                </div>
            </div>
            <span style="font-size: smaller;margin-left: 5px;">已有账号？去<a href="http://localhost:7768/toLogin">登陆</a></span>
        </div>
    </div>

    <div class="footer ">
        <div class="footer-hd ">
            <p>
                <a href="# ">恒望科技</a>
                <b>|</b>
                <a href="# ">商城首页</a>
                <b>|</b>
                <a href="# ">支付宝</a>
                <b>|</b>
                <a href="# ">物流</a>
            </p>
        </div>
        <div class="footer-bd ">
            <p>
                <a href="# ">关于恒望</a>
                <a href="# ">合作伙伴</a>
                <a href="# ">联系我们</a>
                <a href="# ">网站地图</a>
                <em>© 2015-2025 Hengwang.com 版权所有</em>
            </p>
        </div>
    </div>
</div>
</body>
</html>